
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body { 
	padding-top: 2.5rem; 
}

footer,
header {
	grid-column: 1 / -1;
}

footer {
	margin-bottom: 5%;
}

header {
	padding-top: 3%;
}

h1 {

	text-align: center;
}

h3 {
	text-align: center;
}

img {
	max-width: 100%;
}

nav {
	height: 4%;
	display: grid;
	position: fixed;
	top: 0;
	width: 100%;
}
nav ul li a {
	font-size: 75%;
}
ul li p {
	padding: 2%;
}

ol, 
ul {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

p {
	font-size: 135%;
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	margin: 0 auto;
}

.grid-item-1 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
	padding: 1em;
}

.grid-item-2 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
	padding: 1em;
}

.grid-item-3 {
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.grid-item-4 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.header-item-1 {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.header-img {
	border-radius: 50%;
	max-height: 8rem;
	max-width: 6rem;
	padding-top: .5rem;
}

.project-item-1 {
	align-items: flex-start;
	display: flex;
	display: grid;
	grid-gap: 1rem;
	margin: 3%;
	max-width: 1000px;
}

.social-media {
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1.5rem;
}

#mdn {
	font-size: 100%;
}

@media(min-width: 768px){


	header {
		padding-top: 0;
	}

	nav {
		height: 4%;
	}

	nav ul li a {
		font-size: 115%;
	}

	ol,
	ul {
		align-items: center;
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		text-align: center;
		margin: 0%;
	}

	.project-item-1 {
		align-items: center;
		display: flex;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		margin: 3%;
		max-width: 1000px;
	}
}