
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



header {
	padding-top: 3%;
	padding-bottom: 1.5em;
}

h1 {

	text-align: center;
}

h3 {
	text-align: center;
}

img {
	max-width: 100%;
}

nav {
	height: 4%;
	display: grid;
	position: fixed;
	top: 0;
	width: 100%;
}
nav ul li a {
	font-size: 75%;
}
ul li p {
	padding: 2%;
}

ol, 
ul {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

p {
	font-size: 135%;
	text-align: center;
}

.container {
	margin: 0 auto;
	position: relative;
	min-height: 100vh;
}

.content-wrap{
	padding-bottom: 3.5em;
}

.footer{
	bottom: 0;
	font-size: .75em;
	height: 3.5rem;
	position: absolute;
	width: 100%;

}

.grid-item-1 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
	padding: 1em;
}

.grid-item-2 {
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.grid-item-3 {
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.grid-item-4 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.header-item-1 {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.header-item-2 {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}

.header-img {
	border-radius: 50%;
	max-height: 8rem;
	max-width: 6rem;
	padding-top: .5rem;
}

#homeButton{
	padding-right: 2rem;
	border-style: double hidden double double;
	font-size: 150%;
}

.project-item-1 {
	align-items: flex-start;
	display: flex;
	display: grid;
	grid-gap: 1rem;
	margin: 3%;
	max-width: 1000px;
}

.social-media {
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1.5rem;
}

#mdn {
	font-size: 100%;
}

@media(min-width: 768px){


	header {
		padding-top: 0;
	}

	nav {
		height: 4%;
	}

	nav ul li a {
		font-size: 115%;
	}

	ol,
	ul {
		align-items: center;
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		text-align: center;
		margin: 0%;
	}
}