* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    margin: .5em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: black;
}

h1 {
    font-size: 2em;
    font-family: Montserrat-Regular;
}

p {
    font-family: "Open Sans Regular";
    font-size: 15px;
    max-width: 50ch;
    line-height: 150%;
}


/*---------- FOOTER -------------*/

.container {
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    border-block: 10px;
}

.content-wrap {
    padding-bottom: 10rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align: center;
    bottom: 0;
    font-size: .75em;
    height: 3.5rem;
    padding-top: .5em;
    position: absolute;
    width: 100vw;
}


/*---------- NAVBAR -------------*/

.logo {
    height: 1.5em;
    width: 2em;
}

.navbar {
    align-items: center;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 6em;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.nav-left {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    font-family: Montserrat-Bold;
    justify-content: center;
    margin-right: 5%;
    margin-bottom: -1.25em;
    margin-top: -.5em;
    text-transform: uppercase;
}

.nav-left h1 {
    font-size: 2em;
}

.nav {
    display: flex;
    align-items: center;
    font-family: "Open Sans Regular";
    font-size: 10px;
    justify-content: right;
    list-style: none;
}

.nav li a {
    font-weight: bold;

}

/*---------- AREAS -------------*/

.banner-area {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.15)), url("../images/landing-page.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.banner-text {
    align-items: center;
    color: white;
    display: flex;
    font-family: "Montserrat-Regular";
    font-size: 2em;
    font-weight: lighter;
    justify-content: center;
    padding-top: 40vh;
    text-align: center;
}

.banner-text2 {
    align-items: center;
    color: white;
    display: flex;
    font-family: "Montserrat-Regular";
    font-size: 1em;
    font-weight: lighter;
    justify-content: center;
    padding-top: 2vh;
    text-align: center;
}


.about-area, .port-area, .services-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: 30em;
}

.text-part {
    padding-top: 6em;
    height: 100%;
    width: 85%;
}