

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	padding-top: 2em;
	padding-bottom: .5em;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

ul li p {
	padding: 2%;
}

ol, 
ul {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

p {
	font-size: 135%;
	text-align: center;
}

.container {
	margin: 0 auto;
	position: relative;
	min-height: 100vh;
}

.content-wrap{
	padding-bottom: 3.5em;
}

.footer{
	align: center;
	bottom: 0;
	font-size: .75em;
	height: 3.5rem;
	position: absolute;
	width: 100%;
}

.grid-item-1 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
	padding: 1em;
}

.grid-item-2 {
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.grid-item-3{
	padding-top: 2em;
	display: flex;
	grid-column: 1 / -1;
	justify-content: center;
}

/*---------- HOVEREFFECT -------------*/
.container2 {
	/*	display: flex;
		justify-content: center;*/
	position: relative;
	width: 50%;
}

.image{
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}

.container2:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}




.grid-item-4 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.header-item-1 {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.header-img {
	border-radius: 50%;
	max-height: 8rem;
	max-width: 6rem;
	padding-top: .5rem;
}

.navbar{
	padding-top: .25em;
	text-align: center;
}

.project-item-1 {
	align-items: flex-start;
	display: flex;
	display: grid;
	grid-gap: 1rem;
	margin: 3%;
	max-width: 1000px;
}

.split-nav{
	display: flex;
	justify-content: space-between;
}

.social-media {
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1.5rem;
}


@media(min-width: 765px){

	/*---------- NAVBAR -------------*/

	.navbar-left{
		padding-left: 10em;
	}

	div .navbar-left{
		background: #172209;
		padding-bottom: 1em;
		padding-top: 1em;
		padding-right: .25em;
	}

	.navbar-right{
		padding-right: 10em; /* Account for hidden scroll-bar padding */
	}

	div .navbar-right{
		background: #172209;
		padding-bottom: 1em;
		padding-top: 1em;
		padding-left: .25em;
	}

	/*---------- HOVEREFFECT -------------*/
	.container2 {
	/*	display: flex;
		justify-content: center;*/
		position: relative;
		width: 50%;
	}

	.image{
		display: block;
		width: 100%;
		height: auto;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
	}

	.container2:hover .overlay {
		opacity: 1;
	}

	.text {
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	#container-1{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	#container2{
		width: 100%;
		height: 99%;
		overflow: hidden;
		padding-right: 0px;
	}

}