
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans Regular";
}

html {
	scroll-behavior: smooth;
}

a {
	margin: 15px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover{
	color: black;
}

h1{
	font-size:	45px;
	font-family: Montserrat-Regular;
}

p {
	font-family:"Open Sans Regular";
	font-size: 24px;
	max-width: 90ch;
	line-height: 150%;
}


/*---------- FOOTER -------------*/

.container {
	margin: 0 auto;
	position: relative;
	min-height: 100vh;
}

.content-wrap{
	padding-bottom: 3.5em;
}

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align: center;
	bottom: 0;
	font-size: .75em;
	height: 3.5rem;
	padding-top: .5em;
	position: absolute;
	width: 100%;
}


/*---------- NAVBAR -------------*/
.logo{
	margin-left: 2%;
	font-family: OpenSans-Bold;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 45px;
	color: black;
}

.navbar-left {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	margin-left: 10%;
	text-transform: uppercase;
}

.logoTop{
	height: 3em;
	width: 4em;
}

.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: lightgreen;
	width: 100%;
	height: 70px;
	z-index: 1;
	padding-bottom: 5em;
}


.nav{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 10%;
}

.nav li a {
	font-size: 125%;
	font-weight: bold;
}

/*---------- AREAS -------------*/

.banner-area {
	position: relative;
	background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.15) ), url("../images/landing-page.jpg");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.banner-text {
	align-items: center;
	color: white;
	display: flex;
	font-family: "Montserrat-Regular";
	font-size: 75px;
	font-weight: lighter;
	justify-content: center;
	padding-top: 40vh;
	text-align: center;
}

.banner-text2 {
	align-items: center;
	color: white;
	display: flex;
	font-family: "Montserrat-Regular";
	font-size: 25px;
	font-weight: lighter;
	justify-content: center;
	padding-top: 2vh;
	text-align: center;
}

.about-area, .port-area, .services-area, .contact-area{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 60em;
}

.text-part {
	padding-top: 2em;
	width: 65%;
	height: 85%;
}