

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	padding-top: 2em;
	padding-bottom: .5em;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

img {
	max-width: 100%;
}

ul li p {
	padding: 2%;
}

ol, 
ul {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

p {
	font-size: 135%;
	text-align: center;
}

.container {
	margin: 0 auto;
	position: relative;
	min-height: 100vh;
}

.content-wrap{
	padding-bottom: 3.5em;
}

.footer{
	align: center;
	bottom: 0;
	font-size: .75em;
	height: 3.5rem;
	position: absolute;
	width: 100%;
}

.grid-item-1 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
	padding: 1em;
}

.grid-item-2 {
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.grid-item-3{
	padding-top: 2em;
	display: flex;
	grid-column: 1 / -1;
	justify-content: center;

}

.grid-item-3 img{
	max-width: 20rem;
}

.grid-item-4 {
	align-items: center;
	display: flex;
	display: grid;
	grid-column: 1 / -1;
	justify-content: center;
}

.header-item-1 {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.header-img {
	border-radius: 50%;
	max-height: 8rem;
	max-width: 6rem;
	padding-top: .5rem;
}

.navbar{
	padding-top: .25em;
	text-align: center;
}

.project-item-1 {
	align-items: flex-start;
	display: flex;
	display: grid;
	grid-gap: 1rem;
	margin: 3%;
	max-width: 1000px;
}

.split-nav{
	display: flex;
	justify-content: space-between;
}

.social-media {
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1.5rem;
}

@media(min-width: 765px){

	a {
		font-size: 150%;
		margin: .25em;
	}

	ol,
	ul {
		align-items: center;
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		text-align: center;
		margin: 0%;
	}

	.navbar-left{
		padding-left: 13em;
	}

	div .navbar-left{
		background: #172209;
		padding-bottom: 1em;
		padding-top: 1em;
		padding-right: .25em;
	}

	.navbar-right{
		padding-right: 10em; /* Account for hidden scroll-bar padding */
	}

	div .navbar-right{
		background: #172209;
		padding-bottom: 1em;
		padding-top: 1em;
		padding-left: .25em;
	}

	#container-1{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}


	#container2{
		width: 100%;
		height: 99%;
		overflow: hidden;
		padding-right: 0px;
	}

}