body {
	background-color: #CDF9F8;	
		

}

header {
	color: white;
}

h1 {
	color: #00A0B6;
	font-family: "Arial Black";

/*	font-weight: 900;*/
	/*text-shadow: 2px 2px #34D0CE;*/
}

h2 {
	color: #00A0B6;
	font-family: "Arial Black";
	font-size: 85%;
/*	text-shadow: 2px 2px #34D0CE;*/
}

h3	{
	color: #002F2F;
}

li a {
	color: #00A0B6;
	font-family: "Arial Black";
}

ol,
ul {
	list-style-type: none;
}

p {
	color: #007A7A;
}

a {
	text-decoration: none;
}

a:link {
	color: #00A0B6;
}

a:visited {
	color: #00A0B6;
}

a:hover {
	
	color: #00FFFF;

}

nav {
	background-color: #54D8D6;
}

ul li p {
		background-color: #54D8D6;
		display: block;
	}

#social-media {
	display: flex;
	background-color: #54D8D6;
	justify-content: space-around;
	padding: 1%;
}


@media(min-width: 768px){

