* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	overflow: hidden;
}

body {
	font: 100% / 1.5 Arial;

}

header img {
	width: 270px;
	height: 150px;
	overflow: hidden;
	position: fixed;
	top: 0;

	z-index: 1000;
}

header a img {
	width: 270px;
	height: 150px;
}

/* Parallax styling*/

.parallax {
	height: 500px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
	perspective-origin-x: 100%;

}

.parallax__group {
	position: relative;
	height: 500px; 
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	left: -7px;    
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-origin-x: 100%;
	left: -7px;   
}

.parallax__layer--fore {
	-webkit-transform: translateZ(90px) scale(.7);
	transform: translateZ(90px) scale(.7);
	z-index: 1;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
	right: -7px;
}

.parallax__layer--back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}

.parallax__layer--deep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}

  .parallax {
  	font-size: 200%;
  }

  .landing-page {
  	text-align: center;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  }

  .title {
  	text-align: center;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  }

/* Styling for parallax groups*/

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background: rgb(102,204,102);
  }

#group2 {
	z-index: 3; /* slide under groups 1 and 3 */
}
#group2 .parallax__layer--back {
  background: rgb(102,204,102);
}



#group3 {
	z-index: 4; /* slide over group 2 and 4 */
}
#group3 .parallax__layer--base {
	background: rgb(153,216,101);
}

#group4 {
	z-index: 2; /* slide under group 3 and 5 */
}
#group4 .parallax__layer--deep {
	background: rgb(184,223,101);
}

#group5 {
	z-index: 3; /* slide over group 4 and 6 */
}
#group5 .parallax__layer--base {
	background: rgb(214,229,100);
}

#group6 {
	z-index: 2; /* slide under group 5 and 7 */
}
#group6 .parallax__layer--back {
	background: rgb(245,235,100);
}

#group7 {
	z-index: 3; /* slide over group 7 */
}
#group7 .parallax__layer--base {
	background: rgb(255,241,100);
}

.banner {

	margin: 1rem auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-container-1 {
	grid-column: 1/-1;
	margin: 1rem auto;
	text-align: center;
}

.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-column: 1 / -1;

}
.navbar {
	display: flex;
	flex-direction: row;
	grid-column: 1/-1;
	overflow: hidden;
	padding-right: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navbar a {
	display: block;
	color: #008C99;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
} */

/*.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}*/

#lib-slides img { 
   /* margin: 50px auto;*/ 
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    /*box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#lib-slides > div { 
    position: absolute; 
}

/*
@media(min-width: 768px) {

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 1rem auto;
}
	.header img {
		margin: 5px;
	}
}

.logo {
	fill: #fff;
	stroke: #fff;
	width: 150px;
	height: 100px;
}

#spacer {
	width: 90vw;
}
=======
}*/
