/*

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../images/dcdl-orange.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-family: 'AvenirNextBold';
  color: #f6921e;
}

p {
  background-color: #A9CFCC;
color: #00a69c;
font-family: 'AvenirNextMedium';
text-align: left;
}

img {
  width: 270px;
  height: 150px;
}
*/
@font-face {
    font-family: 'KGSecondChancesSolid';
    src: url('../fonts/KGSecondChancesSolid.ttf');
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('../fonts/AvenirNextBold.ttf');
}

@font-face {
    font-family: 'AvenirNextMedium';
    src: url('../fonts/AvenirNextMedium.ttf');
}

.header{
    color: #91c73e;
    font-family: 'AvenirNextBold';

}
/*
#slider {
    width: 270px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 150px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 270px;
    height: 150px;
}

@media(min-width: 768px){

img {
  width: 720px;
  height: 400px;
}



#slider {
    width: 720px;
  height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}


#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

} */

.hero {
  background: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ), url("../images/dark-front.jpg") no-repeat center center;
  background-size: 100%;
  background-color: #000;
  background-attachment: fixed;
  height: 100vh;
}

.navbar {

  padding-right: 2vh;
  font-size: 1.45rem;
  font-family: 'AvenirNextMedium';
}

.navbar a {
  color: white;
  padding-top: 2vh;
  transition-duration: 0.2s;
}

.navbar a:hover {
  /* background-color: #00a69c;*/
  border-bottom: 3px solid white;
  transition-duration: 0.2s;
}

.hero h2 {
  padding-top: calc(50vh - 2rem);
  line-height: 2rem;
  font-size: 2rem;
  font-family: 'AvenirNextMedium';
  width: 70vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 400;
}

.sec, .events {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-family: 'AvenirNextMedium';
  font-size: 1.35rem;
}

.sec {
  display: flex;
}

.sec--color {
  background-color: #00a69c;
  color: white;
}

.sec--white {
  background-color: #fff;
  color: #00a69c;
}

.sec--white .cont {
  margin-left: 4rem;
}

.sec h2, .events h2 {
  font-size: 3rem;
  padding-top: 0rem;
}

.events h2 {
  text-align: center;
}

.sec .cont {
  width: 80vw;
  padding-right: 2rem;
}

.sec .img {
  flex-grow: 30%;
}

.sec .img img {
  width: 90%;
  float: right;
}

.sec .cont p {
  padding-top: .75rem;
}

.events td {
    padding-right: 2.5rem;
}

.events table {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8rem;
}


.events table {
  padding-top: 2rem;
}
